@import "tailwindcss";
@import "tw-animate-css";
@import "@catppuccin/tailwindcss/mocha";
@import "@fontsource-variable/outfit";
@import "@fontsource-variable/cascadia-code";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-background text-foreground prose w-screen prose-ctp p-8;
  }

  form,
  form>div {
    @apply flex items-center;
  }

  form {
    @apply gap-8;
  }

  form>div {
    @apply gap-2;
  }
}

:root {
  --radius: 0.625rem;
}

@theme inline {
  /* fonts */
  --font-sans: "Outfit", sans-serif;
  --font-mono: "Cascadia Code", monospace;

  /* palette */
  --color-background: var(--catppuccin-color-mantle);
  --color-foreground: var(--catppuccin-color-text);
  --color-card: var(--catppuccin-color-surface0);
  --color-card-foreground: var(--catppuccin-color-text);
  --color-popover: var(--catppuccin-color-surface1);
  --color-popover-foreground: var(--catppuccin-color-text);
  --color-primary: var(--catppuccin-color-lavender);
  --color-primary-foreground: var(--catppuccin-color-base);
  --color-secondary: var(--catppuccin-color-lavender);
  --color-secondary-foreground: var(--catppuccin-color-base);
  --color-muted: var(--catppuccin-color-overlay0);
  --color-muted-foreground: var(--catppuccin-color-subtext0);
  --color-accent: var(--catppuccin-color-lavender);
  --color-accent-foreground: var(--catppuccin-color-base);
  --color-destructive: var(--catppuccin-color-red);
  --color-border: var(--catppuccin-color-surface2);
  --color-input: var(--catppuccin-color-surface2);
  --color-ring: var(--catppuccin-color-lavender);
  --color-chart-1: var(--catppuccin-color-lavender);
  --color-chart-2: var(--catppuccin-color-blue);
  --color-chart-3: var(--catppuccin-color-teal);
  --color-chart-4: var(--catppuccin-color-green);
  --color-chart-5: var(--catppuccin-color-yellow);
  --color-sidebar: var(--catppuccin-color-surface0);
  --color-sidebar-foreground: var(--catppuccin-color-text);
  --color-sidebar-primary: var(--catppuccin-color-lavender);
  --color-sidebar-primary-foreground: var(--catppuccin-color-base);
  --color-sidebar-accent: var(--catppuccin-color-lavender);
  --color-sidebar-accent-foreground: var(--catppuccin-color-base);
  --color-sidebar-border: var(--catppuccin-color-surface2);
  --color-sidebar-ring: var(--catppuccin-color-lavender);

  /* spacing/radius */
  --spacing: 0.25rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility prose-ctp {
  --tw-prose-body: var(--catppuccin-color-text);
  --tw-prose-headings: var(--catppuccin-color-text);
  --tw-prose-lead: var(--catppuccin-color-subtext0);
  --tw-prose-links: var(--catppuccin-color-text);
  --tw-prose-bold: var(--catppuccin-color-text);
}